body {
    background-color:#EBF4F6;
    font-family: Arial, sans-serif;
}

#topo-principal {
    background-color: #09637E;
    color: #EBF4F6;
    padding: 20px;
    border-radius: 10px;
}
nav ul li a{
    color: #EBF4F6;
}

.card {
    background-color: #7AB2B2;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    box-shadow: 5px 10px 10px rgba(0, 0, 5, 0.4);
    border: 2px solid #09637E;
}
.card.destaque {
    border: 3 px solid gold;
    transform: scale(1.05);
}

p span {
    font-weight: bold;
    color: #09637E;
}

h2 {
    color: #2c3e50;
}

button:hover {
    background-color: #09637E;
    cursor: pointer;
}

nav ul li:nth-child(2) {
    text-transform: uppercase;
}


